@import "tailwindcss";

:root {
    --color-purple-300: #e0e7fe;
    --color-purple-600: rgb(19, 91, 133);
    --color-purple-500: #3e38a7;
    --color-purple-69: #a78bfa;
    --color-purple-70:  rgb(19, 91, 133);
}

